DATABASE_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require&prepareThreshold=0&preparedStatementCacheQueries=0&preparedStatementCacheSizeMiB=0&tcpKeepAlive=true&reWriteBatchedInserts=true&connectTimeout=10&socketTimeout=30
DATABASE_USERNAME=postgres.xyqkzmeboyucuhfcwtio
DATABASE_PASSWORD=[YOUR-PASSWORD]
JPA_DDL_AUTO=validate
FLYWAY_ENABLED=true

